
@{
    ViewData["Title"] = "Cins Düzenle";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model List<Cins>
    <div class="container mt-5">
        <h1 style="text-align:center;">Cins Düzenle</h1>
        <form class="w-75 m-auto" method="post">
            <div class="form-group">
                @*<label for="exampleInputEmail1">Cins Adı</label>*@
                <select class="form-control" name="id">
                    @*asp-for="EmployeeId" asp-items="@(new SelectList(Model.EmployeesList, "Id", "FullName"))"*@
                    <option selected>Cins Adını Seçin</option>
                    @foreach (var cins in Model)
                    {
                        <option value="@cins.CinsId" for="id">@cins.CinsAdi</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Yeni Cins Adını Girin</label>
                <input type="text" class="form-control" name="duzeltilmis" placeholder="Cins adını girin...">
            </div>
            <button type="submit" class="btn btn-primary float-right">Düzenle</button>
        </form>

    </div>
    <div class="container mt-2">
        <p class="w-75 text-primary text-center">@ViewBag.Mesaj</p>
        <p class="w-75 text-danger text-center">@ViewBag.Error</p>
    </div>

