
@{
    ViewData["Title"] = "HayvanEkle";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@model HayvanTurCinsViewModel
<div class="container mt-5">
    <h1 style="text-align:center;">Hayvan Ekle</h1>
    <form class="w-75 m-auto" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Hayvan.Adi"></label>
            <input asp-for="Hayvan.Adi" class="form-control" />
            <span asp-validation-for="Hayvan.Adi" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Hayvan.Yasi"></label>
            <input asp-for="Hayvan.Yasi" class="form-control" />
            <span asp-validation-for="Hayvan.Yasi" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Hayvan.Fiyat"></label>
            <input asp-for="Hayvan.Fiyat" class="form-control" />
            <span asp-validation-for="Hayvan.Fiyat" class="text-danger"></span>
        </div>
        <div class="form-group">
            @*asp-for="EmployeeId" asp-items="@(new SelectList(Model.EmployeesList, "Id", "FullName"))"*@
            <select asp-for="Hayvan.CinsId" class="form-control">
                <option selected>Cins Adını Seçin</option>
                @foreach (var cins in Model.Cinsler)
                {
    <option value="@cins.CinsId" for="id">@cins.CinsAdi</option>
}
            </select>
            <span asp-validation-for="Hayvan.Cins.CinsAdi" class="text-danger"></span>
        </div>
        <div class="form-group">
            @*asp-for="EmployeeId" asp-items="@(new SelectList(Model.EmployeesList, "Id", "FullName"))"*@
            <select asp-for="Hayvan.TurId" class="form-control">
                <option selected>Cins Adını Seçin</option>
                @foreach (var tur in Model.Turler)
                {
    <option value="@tur.TurId" for="id">@tur.TurAdi</option>
}
            </select>
            <span asp-validation-for="Hayvan.Tur.TurAdi" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Hayvan.Cinsiyet"></label><br />
            <input type="radio" asp-for="Hayvan.Cinsiyet" value="true" />Erkek&emsp;
            <input type="radio" asp-for="Hayvan.Cinsiyet" value="false" />Dişi
            <span asp-validation-for="Hayvan.Cinsiyet" class="text-danger"></span>
        </div>

        <div class="form-group">
            @*asp-for="EmployeeId" asp-items="@(new SelectList(Model.EmployeesList, "Id", "FullName"))"*@
            <select asp-for="Hayvan.BolumId" class="form-control">
                <option selected>Bölüm Adını Seçin</option>
                @foreach (var bolum in Model.Bolumler)
                {
    <option value="@bolum.BolumId" for="id">@bolum.BolumAdi</option>
}
            </select>
            <span asp-validation-for="Hayvan.Bolum.BolumAdi" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Hayvan.EkBilgiler"></label>
            <input asp-for="Hayvan.EkBilgiler" class="form-control" />
            <span asp-validation-for="Hayvan.EkBilgiler" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label for="formFile" class="form-label">Fotoğraf Yükle</label>
            <input class="form-control" type="file" id="formFile" name="hayvanFoto">
        </div>
        <button type="submit" class="btn btn-primary float-right">Kaydet</button>
    </form>

</div>
<div class="container mt-2">
    <p class="w-75 text-primary text-center">@ViewBag.Mesaj</p>
    <p class="w-75 text-danger text-center">@ViewBag.Error</p>
</div>

